asgiref==3.8.1
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cssselect2==0.7.0
Django==5.1.1
django-widget-tweaks==1.5.0
fonttools==4.55.0
fpdf==1.7.2
idna==3.10
mercadopago==2.2.3
mysqlclient==2.2.4
pillow==10.4.0
pycparser==2.22
pydyf==0.11.0
PyMySQL==1.1.1
pyphen==0.15.0
python-dotenv==1.0.1
reportlab==4.2.5
requests==2.32.3
sqlparse==0.5.1
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2024.1
urllib3==2.3.0
weasyprint==63.0
webencodings==0.5.1
zopfli==0.2.3.post1
