
{% extends 'base.html' %}
{% load static %}
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}


{% block contenido %}

<style>
    #nombre_producto,
    #fecha_hasta {
        height: 31.6px; /* ajusta según el alto real del input date */
    }
    #fecha_desde {
        height: 31.6px; /* ajusta según el alto real del input date */
    }
</style>

<style>
  .sep-fecha td{
    border-top: 2px solid #0d6efd; /* línea */
    background: #f8f9fa;           /* leve contraste */
    font-weight: 600;
  }
</style>


<div class="container my-5">
    <h1 class="text-center mb-4">Productos Vendidos</h1>

    <!-- Formulario de filtros -->
    <form method="get" class="mb-4">
        <div class="row g-3">

            <div class="col-md-3">
                <label for="nombre_producto" class="form-label">Nombre del Producto</label>
                <input type="text" name="nombre_producto" id="nombre_producto" class="form-control"
                       placeholder="Nombre del producto" value="{{ filtro_nombre_producto }}">
            </div>

            <div class="col-12 col-md-3">
                <label for="fecha_desde" class="form-label">Fecha Anterior</label>
                <input type="date" name="fecha_desde" id="fecha_desde" class="form-control"
                       value="{{ fecha_desde }}">
            </div>

            <div class="col-12 col-md-3">
                <label for="fecha_hasta" class="form-label">Fecha Actual</label>
                <input type="date" name="fecha_hasta" id="fecha_hasta" class="form-control"
                       value="{{ fecha_hasta }}">
            </div>

            <div class="col-12 col-md-3 d-flex align-items-end gap-2">
                <button type="submit" class="btn btn-primary w-50">
                    <i class="bi bi-funnel"></i> Filtrar
                </button>
                <a href="{% url 'CarritoApp:productos_vendidos' %}" class="btn btn-secondary w-50">
                    <i class="bi bi-x-circle"></i> Restablecer
                </a>
            </div>

        </div>
    </form>
</div>

    {% if productos_vendidos %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre del Producto</th>
                        <th>Cantidad Vendida</th>
                        <th>Precio Unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                {% for producto in productos_vendidos %}
                    {% ifchanged producto.fecha|date:"Y-m-d" %}
                    <tr class="sep-fecha">
                        <td colspan="5">
                        {{ producto.fecha|date:"d/m/Y" }}
                        </td>
                    </tr>
                    {% endifchanged %}
                    <tr>
                        <td>{{ producto.fecha|date:"d/m/Y" }}</td>
                        <td>{{ producto.nombre_producto }}</td>
                        <td>{{ producto.cantidad_vendida }}</td>
                        <td>${{ producto.precio_unitario|floatformat:2 }}</td>
                        <td>${{ producto.total|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    {% else %}
        <p>No hay productos vendidos registrados.</p>
    {% endif %}
</div>

{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
