{% extends 'base.html' %}
{% load static %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}
 <section class="presentacion">
        <div class="presentacion__contenedor_info">
             <h1 class="presentacion__titulo">El Rey del Pollo</h1>
             <p class="presentacion__parrafo">Prof. Simek Osiris German</p>
             <div class="presentacion__botones">
            </div>

         </div>
  </section>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
